// @media print {
//     *,
//     *:before,
//     *:after {
//       background: transparent !important;
//       color: #000 !important;
//       box-shadow: none !important;
//       text-shadow: none !important;
//     }
  
//     a,
//     a:visited {
//       text-decoration: underline;
//     }
  
//     a[href]:after {
//       content: " (" attr(href) ")";
//     }
  
//     abbr[title]:after {
//       content: " (" attr(title) ")";
//     }
  
//     a[href^="#"]:after,
//     a[href^="javascript:"]:after {
//       content: "";
//     }
  
//     pre,
//     blockquote {
//         border: 1px solid #999;
//         page-break-inside: avoid;
//     }
  
//     thead {
//       display: table-header-group;
//     }
  
//     tr,
//     img {
//       page-break-inside: avoid;
//     }
  
//     img {
//       max-width: 100% !important;
//     }
  
//     p,
//     h2,
//     h3 {
//       orphans: 3;
//       widows: 3;
//     }
  
//     h2,
//     h3 {
//       page-break-after: avoid;
//     }
//   }
  
//   html {
//     font-size: 12px;
//   }
  
//   @media screen and (min-width: 32rem) and (max-width: 48rem) {
//     html {
//       font-size: 15px;
//     }
//   }
  
//   @media screen and (min-width: 48rem) {
//     html {
//       font-size: 16px;
//     }
//   }
  
//   body {
//     line-height: 1.85;
//   }
  
//   p,
//   .splendor-p {
//     font-size: 1rem;
//     margin-bottom: 1.3rem;
//   }
  
//   h1,
//   .splendor-h1,
//   h2,
//   .splendor-h2,
//   h3,
//   .splendor-h3,
//   h4,
//   .splendor-h4 {
//     margin: 1.414rem 0 .5rem;
//     font-weight: inherit;
//     line-height: 1.42;
//   }
  
//   h1,
//   .splendor-h1 {
//     margin-top: 0; 
//     font-size: 3.998rem;
//   }
  
//   h2,
//   .splendor-h2 {
//     font-size: 2.827rem;
//   }
  
//   h3,
//   .splendor-h3 {
//     font-size: 1.999rem;
//   }
  
//   h4,
//   .splendor-h4 {
//     font-size: 1.414rem;
//   }
  
//   h5,
//   .splendor-h5 {
//     font-size: 1.121rem;
//   }
  
//   h6,
//   .splendor-h6 {
//     font-size: .88rem;
//   }
  
//   small,
//   .splendor-small {
//     font-size: .707em;
//   }
  
//   /* https://github.com/mrmrs/fluidity */
  
//   img,
//   canvas,
//   iframe,
//   video,
//   svg,
//   select,
//   textarea {
//     max-width: 100%;
//   }
  
//   @import url(http://fonts.googleapis.com/css?family=Merriweather:300italic,300);
  
//   html {
//     font-size: 18px;
//     max-width: 100%;
//   }
  
//   body {
//     color: #444;
//     font-family: 'Merriweather', Georgia, serif;
//     margin: 0;
//     max-width: 100%;
//   }
  
//   /* === A bit of a gross hack so we can have bleeding divs/blockquotes. */
  
//   body{
//       display: flex;
//       flex-direction: column;
//   }

//   p,
//   *:not(div):not(img):not(body):not(html):not(li):not(p):not(tr):not(td):not(table) {
//     margin: 1rem auto 1rem;
//     max-width: 36rem;
//     min-width: 36rem;
//     padding: .25rem;
//   }
  
//   div {
//     width: 100%;
//   }
  
//   div img {
//     width: 100%;
//   }
  
//   blockquote p {
//     font-size: 1.5rem;
//     margin: 1rem auto 1rem;
//     max-width: 48rem;
//   }
  
//   li {
//     margin-left: 2rem;
//   }
  
//   /* Counteract the specificity of the gross *:not() chain. */
  
//   h1 {
//     padding: 4rem 0 !important;
//   }
  
//   /*  === End gross hack */
  
//   p {
//     color: #555;
//     height: auto;
//     line-height: 1.45;
//   }
  
//   pre,
//   code {
//     font-family: Menlo, Monaco, "Courier New", monospace;
//   }
  
//   pre {
//     background-color: #fafafa;
//     font-size: .8rem;
//     overflow-x: scroll;
//     padding: 1.125em;
//   }
  
//   a,
//   a:visited {
//     color: #3498db;
//   }
  
//   a:hover,
//   a:focus,
//   a:active {
//     color: #2980b9;
//   }


//   /* CODE */

//   pre>code.hljs::after {
//     content: attr(data-lang);
//     position: absolute;
//     top: 0;
//     right: 0;
//     color: #fff;
//     text-align: right;
//     font-size: 10px;
//     font-weight: 700;
//     letter-spacing: 1px;
//     background: #9b9b9b;
//     padding: 2px 7px;   
//     line-height: 15px;
//     height: 15px;
//     border-radius: 0 0 0 2px; 
// }
         
* {
    font-family: 'Maplestory', 'Arial';
} 
    
body {
    background: 
      radial-gradient(black 3px, transparent 4px),
      radial-gradient(black 3px, transparent 4px),
      linear-gradient(#fff 4px, transparent 0),
      linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px),
      linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px),
    #fff;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

/* Main frame  */

main {   
    padding: 2em;
    margin: 2em auto 2em auto;
    min-width: 26rem; 
    max-width: 76rem;

    border-radius: 10px;

    background-color: white;
}
   
/* 위젯  */

    //스크롤 게이지
aside#scroll-gage{ 
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;

    width: 50px;
    height: 25px;

    color: white;
    font-weight: 700;

    border: 1px solid red;
    border-top-width: 0;
    border-left-width: 0;
    border-radius: 0 0 5px 0;

    background-color: #d40000;
    
}

    //검색 트리
ul#search-tree{
    display: none;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    width: 80%;
    padding: 0.1em;
    margin: 0 auto 0 auto;

    z-index: 10;

    li{
        list-style-type:none;
    
        //폴더
        &.foler{
            
        }
        //파일
        &.file{
            display: none;            
        }
    }
}



    
/* 헤더 */ 
h1, h2, h3 {
	font-weight: 400;
}  
h1,h2,h3,h4 { 
    // font-weight: bolder; 
    color : #b30000;
    border-color:  #800000; 
} 

h1 {
	padding-bottom: 0.3em;
	line-height: 1.2;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

h2 {
    padding-bottom: 0.3em;
	line-height: 1.2;
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

 
  
/* 인용문 */
blockquote {
    position: relative;

	margin: 0 7px 0 5px;
    padding: 5px 16px 5px 15px;
    
    color: #8e0000;

	border-left-width: 5px;
	border-left-style: solid;
    border-color: #b30000;

    background-color: #fff4f4;
}
blockquote::after{
    content: '"';
    
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:20px;
    left:-12.5px;
    
    height: 15px;
    width: 15px;
    
    color: white;
    
    border-radius: 100%;
    border: 2px solid #b30000;

    background-color: #b30000;
    background-image: url('img/blockquote.png');
    background-size: 100% auto;
    background-position: center center;
}

/* 코드조각 */

pre>code.hljs{
    position: relative;
    
    border-radius: 5px 5px 5px 5px;
}
 
pre>code.hljs::after {  
    content: attr(data-lang);
    
    position: absolute;
    top: 0;
    right: 0;
    
    height: 15px;
    padding: 2px 7px;
    
    color: #fff;
    text-align: right;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    
    background: #9b9b9b;
    line-height: 15px;
    border-radius: 0 0 0 2px;
}

/* 페이지 */
p {
    display: flex;
}


/* 이미지 */
img {
    max-width: 80%; 

    margin-left: auto;
    margin-right: auto;

    border-radius: 5%;
}


/* 하이퍼 텍스트 */
a {
    position: relative; 

    margin: 0 0.5em 0 0.5em;

    color: seagreen;
	text-decoration: none;

    &:hover {
        text-decoration: underline;
        
        // &::after {
        //     content: attr(href);
            
        //     position: absolute;
        //     top: 95%;
        //     left: 0;

        //     max-width: 200px;
        //     padding: 2px 5px 2px 5px;

        //     background-color: black;     
        //     border-radius: 5px;

        //     text-overflow: ellipsis;
        //     white-space: nowrap;
        //     overflow: hidden;
        // }
    }
}

/* 테이블 */
table{
    margin-left: 16px;

    *{
        border-color: #39004d; 
    }

    thead{
        color:  #39004d;
        border-bottom-width: 2px;
        border-bottom-style: dashed;
    }
}


/* ETC Fragment */
hr {
    border-color: #b30000;
}

    /* 단어 포맷 */
p>code, li>code{
    padding:2px;
    margin: 0 0.5em 0 0.5em;
    
    color: white;
    font-weight: bold;
    font-size: 1em;
    line-height: 1.357em;
    
    background-color: #d24d4d;
    border-radius : 4px 4px 4px 4px;
}

tt{
    color: blue;
}
